@charset "UFT - 8";

/**********
MAIN - S
**********/

/* TOP - S */
.top {
  padding: 185px 210px 0;
}
.top h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
}
.top p {
  padding-top: 22px;
  font-size: 18px;
  line-height: 38px;
}
/* TOP - E */

/* SCH - S */
.sch {
  display: flex;
  justify-content: space-around;
  padding: 192px 0 100px;
  border-bottom: 1px solid #000;
  width: 90%;
  margin: 0 auto;
}

.sch h2 {
  text-indent: -999px;
}
.sch .sch-btn ul {
  display: flex;
}
.sch .sch-btn ul li {
  text-align: center;
  width: 170px;
  font-size: 24px;
  line-height: 46px;
  color: #b2b2b2;
  border: 1px solid#b2b2b2;
  border-radius: 80px;
  margin-right: 10px;
}
.sch .sch-btn .stan {
  color: #000;
  border: 1px solid#000;
}

.sch form {
  display: flex;
}
#sch_input {
  float: left;
}
input[type="text"] {
  display: block;
  padding-left: 20px;
  width: 300px;
  height: 48px;
  line-height: 35px;
  border: 1px solid #ccc;
  background-color: #eee;
  font-size: 16px;
}
#sch_bttn > button {
  float: left;
  width: 48px;
  height: 48px;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
}

#result {
  position: absolute;
  padding-top: 60px;
  color: red;
}
/* SCH - E */

/* NEWS - S */
.news {
  padding: 80px 60px 50px;
  width: 90%;
  border-bottom: 1px solid #000;
  margin: 0 auto;
}
.news h2 {
  text-indent: -999px;
}
.news .news-line1 .news-box-all {
  display: flex;
  justify-content: center;
}
.news-line1 .box {
  cursor: pointer;
}
.news-line1 .news-box-all .box:nth-child(1) {
  margin-right: 60px;
}
.news-line1 .news-box-all .box:nth-child(2) {
  margin-right: 60px;
}
.news-line1 .news-box-all .box:nth-child(3) {
  margin-right: 0;
}


.news-line1 .box .result ul {
  display: flex;
}

.news-line1 .result li {
  margin-top: 30px;
  margin-right: 10px;
  padding: 0 20px;
  border: 1px solid #888;
  font-size: 18px;
  line-height: 32px;
  transition: all 0.3s;
}
.news-line1 .box:hover .result li {
  opacity: 0.3;
}
.news-line1 .result p {
  padding-top: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 40px;
  transition: all 0.3s;
}
.news-line1 .box:hover p {
  opacity: 0.3;
}
.news-line1 .result span {
  padding-top: 34px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  transition: all 0.3s;
}
.news-line1 .box:hover span {
  opacity: 0.3;
}


.news .news-line2 {
  padding-top: 50px;
}
.news .news-line2 .news-box-all {
  display: flex;
  justify-content: center;
}
.news-line2 .news-box-all .box {
  cursor: pointer;
}
.news-line2 .news-box-all .box:nth-child(1) {
  margin-right: 60px;
}
.news-line2 .news-box-all .box:nth-child(2) {
  margin-right: 60px;
}
.news-line2 .news-box-all .box:nth-child(3) {
  margin-right: 0;
}

.news-line2 .box .result ul {
  display: flex;
}

.news-line2 .result li {
  margin-top: 30px;
  margin-right: 10px;
  padding: 0 20px;
  border: 1px solid #888;
  font-size: 18px;
  line-height: 32px;
  transition: all 0.3s;
}
.news-line2 .box:hover .result li {
  opacity: 0.3;
}
.news-line2 .result p {
  padding-top: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 40px;
  transition: all 0.3s;
}
.news-line2 .box:hover p {
  opacity: 0.3;
}
.news-line2 .result span {
  padding-top: 34px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  transition: all 0.3s;
}
.news-line2 .box:hover span {
  opacity: 0.3;
}
/* NEWS - E */

/* PAGE - S */
.page {
  padding: 80px 0 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page h2 {
  text-indent: -999px;
}
.page i {
  padding: 0 24px;
  cursor: pointer;
}
.page .page-num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.page .page-num li {
  padding: 0 14px;
  font-size: 18px;
  line-height: 37px;
  cursor: pointer;
}
.page .page-num .stan {
  color: #fff;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 90px;
  cursor: pointer;
}
/* PAGE - E */

/**********
MAIN - E
**********/




















/**********
1200px
**********/
@media screen and (max-width : 1200px) {

  /* TOP - S */
  .top {
    padding: 185px 80px 0;
  }
  .top h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
  }
  .top p {
    padding-top: 22px;
    font-size: 18px;
    line-height: 38px;
  }
  /* TOP - E */

  /* SCH - S */
  .sch {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    padding: 192px 40px 100px;
    width: 100%;
    margin: 0 auto;
  }

  .sch form {
    margin-top: 40px;
    display: flex;
    width: 100%;
    /* margin:auto; */
  }
  #sch_input {
    width: 100%;
    float: left;
  }
  input[type="text"] {
    display: block;
    width: 100%;
    height: 48px;
    line-height: 35px;
    border: 1px solid #ccc;
    background-color: #eee;
  }
  #sch_bttn > button {
    float: left;
    width: 48px;
    height: 48px;
    background-color: #222;
    color: white;
    border: none;
  }
  /* SCH - E */

  /* NEWS - S */
  .news {
    padding: 80px 40px 50px;
  }

  .news-line1 .news-box-all .box:nth-child(1) {
    margin-right: 30px;
  }
  .news-line1 .news-box-all .box:nth-child(2) {
    margin-right: 30px;
  }
  .news-line1 .news-box-all .box:nth-child(3) {
    margin-right: 0;
  }

  .news-line1 .result li {
    padding: 0 10px;
    font-size: 14px;
    line-height: 28px;
  }
  .news-line1 .result p {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }
  .news-line1 .result span {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
  }

  .news .news-line2 {
    padding-top: 50px;
  }
  .news .news-line2 .news-box-all {
    display: flex;
    justify-content: center;
  }
  .news-line2 .news-box-all .box:nth-child(1) {
    margin-right: 30px;
  }
  .news-line2 .news-box-all .box:nth-child(2) {
    margin-right: 30px;
  }
  .news-line2 .news-box-all .box:nth-child(3) {
    margin-right: 0;
  }

  .news-line2 .result ul {
    display: flex;
  }
  .news-line2 .result li {
    padding: 0 10px;
    font-size: 14px;
    line-height: 28px;
  }
  .news-line2 .result p {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }
  .news-line2 .result span {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
  }
  /* NEWS - E */
}









/**********
700px
**********/
@media screen and (max-width : 700px) {

  /* TOP - S */
  .top {
    padding: 180px 40px 35px;
  }
  .top h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
  }
  .top p {
    padding-top: 22px;
    font-size: 15px;
    line-height: 24px;
  }
  /* TOP - E */

  /* SCH - S */
  .sch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 124px 20px 100px;
    width: 100%;
    margin: 0 auto;
  }

  .sch .sch-btn ul li {
    width: 100px;
    font-size: 14px;
    line-height: 36px;
    color: #b2b2b2;
  }

  .sch form {
    display: flex;
    width: 100%;
  }
  #sch_input {
    float: left;
  }
  input[type="text"] {
    display: block;
    padding-left: 20px;
    width: 100%;
    height: 40px;
    line-height: 35px;
    border: 1px solid #ccc;
    background-color: #eee;
    font-size: 14px;
  }
  #sch_bttn > button {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #222;
    color: white;
    border: none;
  }
  /* SCH - E */

  /* NEWS - S */
  .news {
    padding: 80px 20px 0;
  }
  .news .news-line1 .news-box-all {
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
  .news-line1 .news-box-all .box {
    margin-bottom: 50px
  }
  .news-line1 .news-box-all .box:nth-child(1) {
    margin-right: 0;
  }
  .news-line1 .news-box-all .box:nth-child(2) {
    margin-right: 0;
  }
  .news-line1 .news-box-all .box:nth-child(3) {
    margin-bottom: 0;
  }

  .news-line1 .result li {
    padding: 0 10px;
    font-size: 14px;
    line-height: 28px;
  }
  .news-line1 .result p {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }
  .news-line1 .result span {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
  }

  .news .news-line2 {
    padding-top: 50px;
  }
  .news .news-line2 .news-box-all {
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
  .news-line2 .news-box-all .box {
    margin-bottom: 50px
  }
  .news-line2 .news-box-all .box:nth-child(1) {
    margin-right: 0;
  }
  .news-line2 .news-box-all .box:nth-child(2) {
    margin-right: 0;
  }
  .news-line2 .news-box-all .box:nth-child(3) {
    margin-right: 0;
  }
  .news-line2 .box .result ul {
    display: flex;
  }
  .news-line2 .result li {
    padding: 0 10px;
    font-size: 14px;
    line-height: 28px;
  }
  .news-line2 .result p {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }
  .news-line2 .result span {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
  }
  /* NEWS - E */

  /* PAGE - S */
  .page {
    padding: 80px 0 180px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page i {
    padding: 0 24px;
  }
  .page .page-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
  }
  .page .page-num li {
    padding: 0 10px;
    font-size: 14px;
    line-height: 27px;
  }
  .page .page-num .stan {
    color: #fff;
    border: 1px solid #000;
    background-color: #000;
    border-radius: 100px;
    cursor: pointer;
  }
  /* PAGE - E */
}