@charset "UFT - 8";


/**********
MAIN - S
**********/

/* VISUAL - S */
.visual {}
.visual .hide {text-indent: -9999px;}
.visual .video-wrap {
  width: 100%; height: 100vh;
  position: relative;
  overflow: hidden;
}
.video-wrap video {
  position: absolute; left: 50%; top: 0;
  transform: translate(-50%, 0);
}
.video-wrap figcaption {
  width: 100%; max-width: 1300px;
  margin: 0 auto;
  font-weight: 700; font-size: 70px; color: #fff;
  position: relative; top: 50%;
  z-index: 500;
  text-align: center;
  transform: translate(0, -50%);
}
/* VISUAL - E */

/* TECH - S */
.tech {width: 100%; height: 980px;}
.tech .tech-list {text-align: center;}
.tech .tech-box {display: flex;}

/* box1 */
.tech .box1 {
  flex: 1;
  height: 980px;
  background: url(/img/tech1.png) no-repeat;
  display: flex; justify-content: center; align-items: center;
}
.tech .box1 .shadow {
  background: #000; opacity: 0.5;
  width: 25%; height: 980px;
  position: absolute;
  transition: all 0.3s;
}
.box1:hover .shadow {opacity: 0;}

.tech .box1 .box-txt {
  text-align: center; color: #fff;
  z-index: 100;
}
.box1 .box-txt h3 {font-weight: 700; font-size: 30px; line-height: 50px;}
.box1 .box-txt .box-inner {
  display: none;
  font-weight: 500; font-size: 18px; line-height: 30px;
}
.box1:hover .box-inner {display: block;}

/* box2 */
.tech .box2 {
  flex: 1;
  height: 980px;
  background: url(/img/tech2.png) no-repeat;
  display: flex; justify-content: center; align-items: center;
}
.tech .box2 .shadow {
  background: #000; opacity: 0.5;
  width: 25%; height: 980px;
  position: absolute;
  transition: all 0.3s;
}
.box2:hover .shadow {opacity: 0;}
.tech .box2 .box-txt {
  text-align: center; color: #fff;
  z-index: 100;
}
.box2 .box-txt h3 {font-weight: 700; font-size: 30px; line-height: 50px;}
.box2 .box-txt .box-inner {
  display: none;
  font-weight: 500; font-size: 18px; line-height: 30px;
  transition: all 0.3s;
}
.box2:hover .box-inner {display: block;}

/* box3 */
.tech .box3 {
  flex: 1;
  height: 980px;
  background: url(/img/tech3.png) no-repeat;
  display: flex; justify-content: center; align-items: center;
}
.tech .box3 .shadow {
  background: #000; opacity: 0.5;
  width: 25%; height: 980px;
  position: absolute;
  transition: all 0.3s;
}
.box3:hover .shadow {opacity: 0;}
.tech .box3 .box-txt {
  text-align: center; color: #fff;
  z-index: 100;
}
.box3 .box-txt h3 {font-weight: 700; font-size: 30px; line-height: 50px;}
.box3 .box-txt .box-inner {
  display: none;
  font-weight: 500; font-size: 18px; line-height: 30px;
}
.box3:hover .box-inner {display: block;}

/* box4 */
.tech .box4 {
  flex: 1;
  height: 980px;
  background: url(/img/tech4.png) no-repeat;
  display: flex; justify-content: center; align-items: center;
}
.tech .box4 .shadow {
  background: #000; opacity: 0.5;
  width: 25%; height: 980px;
  position: absolute;
  transition: all 0.3s;
}
.box4:hover .shadow {opacity: 0;}
.tech .box4 .box-txt {
  text-align: center; color: #fff;
  z-index: 100;
}
.box4 .box-txt h3 {font-weight: 700; font-size: 30px; line-height: 50px;}
.box4 .box-txt .box-inner {
  display: none;
  font-weight: 500; font-size: 18px; line-height: 30px;}
.box4:hover .box-inner {display: block;}
/* TECH - E */

/* NEWS - S */
.news {
  padding: 214px 60px 0;
  display: flex; flex-flow: column; align-items: center;
}
.news .tit {font-weight: 700; font-size: 60px; line-height: 86px;}
.news .news-box {padding-top: 90px;}
.news .news-box .box-list {
  display: flex;
  justify-content: center;
}
.news .news-box .box-list li {padding: 0 15px;}
.news .box1 {}
.news .box1 .box-inner {}
.news .box1 .box-inner img {width: 100%; height: 420px;}
.news .box1 .box-inner h3 {
  padding: 30px 0 60px;
  font-weight: 600; font-size: 20px;
}
.news .box1 .box-inner span {font-size: 16px;}

.news .box2 {}
.news .box2 .box-inner {}
.news .box2 .box-inner img {width: 100%; height: 420px;}
.news .box2 .box-inner h3 {
  padding: 30px 0 60px;
  font-weight: 600; font-size: 20px;
}
.news .box2 .box-inner span {
  font-size: 16px;
  padding-bottom: 30px;
}

.news .box3 {}
.news .box3 .box-inner {}
.news .box3 .box-inner img {width: 100%; height: 420px;}
.news .box3 .box-inner h3 {
  padding: 30px 0 60px;
  font-weight: 600; font-size: 20px;
}
.news .box3 .box-inner span {
  font-size: 16px;
  padding-bottom: 30px;
}
/* NEWS - E */

/* GLOBAL - S */
.global {
  padding-top: 330px;
  display: flex; flex-flow: column; justify-content: center; align-items: center;
}
.global .global-txt {text-align: center;}
.global .global-txt .tit {font-weight: 700; font-size: 60px; line-height: 86px;}
.global .global-txt .num {
  padding-top: 66px;
  display: flex; align-items: center; justify-content: center;
  font-weight: 600; font-size: 36px; line-height: 64px; color: #00578A;
}
.global .global-txt .num li {padding: 0 15px;}
.global .global-txt .add {font-size: 20px; line-height: 32px;}
.global .global-img {
  width: 100%;
  margin-top: 60px;
}
/* GLOBAL - E */

/* ESG - S */
.esg {
  padding: 110px 60px 0;
  display: flex; flex-flow: column; align-items: center;
}
.esg .tit {
  font-weight: 700;
  font-size: 60px;
  line-height: 86px;
}
.esg .esg-box {
  padding-top: 90px;
  /* display: flex; align-items: center; justify-content: center;  */

}
.esg .esg-box .esg-box1 {
  display: flex;
  padding: 20px 20px;
}
.esg-box .esg-box1 .box1 {
  flex: 1;
  display: flex;
}
.esg-box .esg-box1 .box1 img {
  width: 345px;
  height: 248px;
}
.esg-box .esg-box1 .box1 header {
  display: flex;
  flex-flow: column;
  padding: 50px 0 50px 40px;
}
.esg-box .esg-box1 .box1 h3 {
  font-weight: 600;
  font-size: 30px;
}
.esg-box .esg-box1 .box1 p {
  padding-top: 30px;
  line-height: 20px;
}

.esg-box .esg-box1 .box2 {
  flex: 1;
  display: flex;
  padding-left: 40px;
}
.esg-box .esg-box1 .box2 img {
  width: 345px;
  height: 248px;
}
.esg-box .esg-box1 .box2 header {
  display: flex;
  flex-flow: column;
  padding: 50px 0 50px 40px;
}
.esg-box .esg-box1 .box2 h3 {
  font-weight: 600;
  font-size: 30px;
}
.esg-box .esg-box1 .box2 p {
  padding-top: 30px;
  line-height: 20px;
}

.esg .esg-box .esg-box2 {
  display: flex;
  padding: 20px 20px;
}
.esg-box .esg-box2 .box3 {
  flex: 1;
  display: flex;

}
.esg-box .esg-box2 .box3 img {
  width: 345px;
  height: 248px;
}
.esg-box .esg-box2 .box3 header {
  display: flex;
  flex-flow: column;
  padding: 50px 0 50px 40px;

}
.esg-box .esg-box2 .box3 h3 {
  font-weight: 600;
  font-size: 30px;
}
.esg-box .esg-box2 .box3 p {
  padding-top: 30px;
  line-height: 20px;
}

.esg-box .esg-box2 .box4 {
  flex: 1;
  display: flex;
  padding-left: 40px;
}
.esg-box .esg-box2 .box4 img {
  width: 345px;
  height: 248px;
}
.esg-box .esg-box2 .box4 header {
  display: flex;
  flex-flow: column;
  padding: 50px 0 50px 40px;
}
.esg-box .esg-box2 .box4 h3 {
  font-weight: 600;
  font-size: 30px;
}
.esg-box .esg-box2 .box4 p {
  padding-top: 30px;
  line-height: 20px;
}
/* ESG - E */


/**********
MAIN - E
**********/







/**********
1200px
**********/
@media screen and (max-width : 1200px) {

  /* TECH - S */
  .tech {
    width: 100%;
    height: 780px;
  }
  .tech .tech-list {
    text-align: center;
  }
  .tech .tech-box {
    display: flex;
  }

  /* box1 */
  .tech .box1 {
    flex: 1;
    height: 780px;
    background: url(/img/tech1.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech .box1 .shadow {
    background: #000;
    opacity: 0.5;
    width: 25%;
    height: 780px;
    position: absolute;
    transition: all 0.3s;
  }
  .box1:hover .shadow {
    opacity: 0;
  }

  .tech .box1 .box-txt {
    text-align: center;
    color: #fff;
  }
  .box1 .box-txt h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
  }
  .box1 .box-txt .box-inner {
    display: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }
  .box1:hover .box-inner {
    display: block;
  }

  /* box2 */
  .tech .box2 {
    flex: 1;
    height: 780px;
    background: url(/img/tech2.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech .box2 .shadow {
    background: #000;
    opacity: 0.5;
    width: 25%;
    height: 780px;
    position: absolute;
    transition: all 0.3s;
  }
  .box2:hover .shadow {
    opacity: 0;
  }
  .tech .box2 .box-txt {
    text-align: center;
    color: #fff;
  }
  .box2 .box-txt h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
  }
  .box2 .box-txt .box-inner {
    display: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    transition: all 0.3s;
  }
  .box2:hover .box-inner {
    display: block;
  }

  /* box3 */
  .tech .box3 {
    flex: 1;
    height: 780px;
    background: url(/img/tech3.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech .box3 .shadow {
    background: #000;
    opacity: 0.5;
    width: 25%;
    height: 780px;
    position: absolute;
    transition: all 0.3s;
  }
  .box3:hover .shadow {
    opacity: 0;
  }
  .tech .box3 .box-txt {
    text-align: center;
    color: #fff;
  }
  .box3 .box-txt h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
  }
  .box3 .box-txt .box-inner {
    display: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }
  .box3:hover .box-inner {
    display: block;
  }

  /* box4 */
  .tech .box4 {
    flex: 1;
    height: 780px;
    background: url(/img/tech4.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech .box4 .shadow {
    background: #000;
    opacity: 0.5;
    width: 25%;
    height: 780px;
    position: absolute;
    transition: all 0.3s;
  }
  .box4:hover .shadow {
    opacity: 0;
  }
  .tech .box4 .box-txt {
    text-align: center;
    color: #fff;
  }
  .box4 .box-txt h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
  }
  .box4 .box-txt .box-inner {
    display: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }
  .box4:hover .box-inner {
    display: block;
  }
  /* TECH - E */

  /* NEWS - S */
  .news {
    padding: 214px 30px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .news .tit {
    font-weight: 700;
    font-size: 40px;
    line-height: 86px;
  }
  .news .news-box {
    padding-top: 90px;
  }
  .news .news-box .box-list {
    display: flex;
    justify-content: center;
  }
  .news .news-box .box-list li {
    padding: 0 10px;
  }

  .news .box1 {
    flex: 1;
  }
  .news .box1 .box-inner {
    /* width: 100%; height: 300px; */
  }
  .news .box1 .box-inner img {
    width: 100%;
    height: 300px;
  }
  .news .box1 .box-inner h3 {
    padding: 30px 0 60px;
    font-weight: 600;
    font-size: 18px;
  }
  .news .box1 .box-inner span {
    font-size: 16px;
  }

  .news .box2 {
    flex: 1;
  }
  .news .box2 .box-inner {}
  .news .box2 .box-inner img {
    width: 100%;
    height: 300px;
  }
  .news .box2 .box-inner h3 {
    padding: 30px 0 60px;
    font-weight: 600;
    font-size: 18px;
  }
  .news .box2 .box-inner span {
    font-size: 16px;
    padding-bottom: 30px;
  }

  .news .box3 {
    flex: 1;
  }
  .news .box3 .box-inner {}
  .news .box3 .box-inner img {
    width: 100%;
    height: 300px;
  }
  .news .box3 .box-inner h3 {
    padding: 30px 0 60px;
    font-weight: 600;
    font-size: 18px;
  }
  .news .box3 .box-inner span {
    font-size: 16px;
    padding-bottom: 30px;
  }
  /* NEWS - E */

  /* GLOBAL - S */
  .global {
    padding-top: 330px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .global .global-txt {
    text-align: center;
  }
  .global .global-txt .tit {
    font-weight: 700;
    font-size: 40px;
    line-height: 66px;
  }
  .global .global-txt .num {
    padding-top: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
  }
  .global .global-txt .num li {
    padding: 0 15px;
  }
  .global .global-txt .add {
    font-size: 18px;
    line-height: 32px;
  }
  .global .global-img {
    width: 100%;
    margin-top: 60px;
  }
  /* GLOBAL - E */

  /* ESG - S */
  .esg {
    padding: 110px 20px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .esg .tit {
    font-weight: 700;
    font-size: 40px;
    line-height: 86px;
  }
  .esg .esg-box {
    padding-top: 90px;
    /* display: flex; align-items: center; justify-content: center;  */

  }
  .esg .esg-box .esg-box1 {
    display: flex;
    padding: 20px 20px;
  }
  .esg-box .esg-box1 .box1 {
    flex: 1;
    display: flex;
    flex-flow: column;
  }
  .esg-box .esg-box1 .box1 img {
    width: 345px;
    height: 248px;
  }
  .esg-box .esg-box1 .box1 header {
    display: flex;
    flex-flow: column;
    padding: 40px 0;
  }
  .esg-box .esg-box1 .box1 h3 {
    font-weight: 600;
    font-size: 24px;
  }
  .esg-box .esg-box1 .box1 p {
    padding-top: 30px;
    line-height: 20px;
  }

  .esg-box .esg-box1 .box2 {
    flex: 1;
    display: flex;
    flex-flow: column;
    padding-left: 20px;
  }
  .esg-box .esg-box1 .box2 img {
    width: 345px;
    height: 248px;
  }
  .esg-box .esg-box1 .box2 header {
    display: flex;
    flex-flow: column;
    padding: 40px 0;
  }
  .esg-box .esg-box1 .box2 h3 {
    font-weight: 600;
    font-size: 24px;
  }
  .esg-box .esg-box1 .box2 p {
    padding-top: 30px;
    line-height: 20px;
  }

  .esg .esg-box .esg-box2 {
    display: flex;
    padding: 20px 20px;
  }
  .esg-box .esg-box2 .box3 {
    flex: 1;
    display: flex;
    flex-flow: column;

  }
  .esg-box .esg-box2 .box3 img {
    width: 345px;
    height: 248px;
  }
  .esg-box .esg-box2 .box3 header {
    display: flex;
    flex-flow: column;
    padding: 40px 0;
  }
  .esg-box .esg-box2 .box3 h3 {
    font-weight: 600;
    font-size: 24px;
  }
  .esg-box .esg-box2 .box3 p {
    padding-top: 30px;
    line-height: 20px;
  }

  .esg-box .esg-box2 .box4 {
    flex: 1;
    display: flex;
    flex-flow: column;
    padding-left: 20px;
  }
  .esg-box .esg-box2 .box4 img {
    width: 345px;
    height: 248px;
  }
  .esg-box .esg-box2 .box4 header {
    display: flex;
    flex-flow: column;
    padding: 40px 0;
  }
  .esg-box .esg-box2 .box4 h3 {
    font-weight: 600;
    font-size: 24px;
  }
  .esg-box .esg-box2 .box4 p {
    padding-top: 30px;
    line-height: 20px;
  }
  /* ESG - E */
}








/**********
700px
**********/
@media screen and (max-width : 700px) {

  /* TECH - S */
  .tech {
    width: 100%;
    height: 980px;
  }
  .tech .tech-list {
    text-align: center;
  }
  .tech .tech-box {
    display: flex;
    flex-flow: column;
  }

  /* box1 */
  .tech .box1 {
    flex: 1;
    width: 100%;
    height: 100%;
    background: url(/img/tech1-1.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech .box1 .shadow {
    /* display: none; */
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 270px;
    position: absolute;
    transition: all 0.3s;
  }
  .box1:hover .shadow {
    opacity: 0;
  }

  .tech .box1 .box-txt {
    text-align: center;
    color: #fff;
    padding: 110px 0;
    z-index: 100;
  }
  .box1 .box-txt h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
  }
  .box1 .box-txt .box-inner {
    display: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
  }
  /* .box1:hover .box-inner{display: block;} */

  /* box2 */
  .tech .box2 {
    flex: 1;
    height: 980px;
    background: url(/img/tech2-1.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech .box2 .shadow {
    /* display: none; */
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 270px;
    position: absolute;
    transition: all 0.3s;
  }
  .box2:hover .shadow {
    opacity: 0;
  }
  .tech .box2 .box-txt {
    text-align: center;
    color: #fff;
    padding: 110px 0;
    z-index: 100;
  }
  .box2 .box-txt h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
  }
  .box2 .box-txt .box-inner {
    display: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    transition: all 0.3s;
  }
  /* .box2:hover .box-inner{display: block;} */

  /* box3 */
  .tech .box3 {
    flex: 1;
    height: 980px;
    background: url(/img/tech3-1.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech .box3 .shadow {
    /* display: none; */
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 270px;
    position: absolute;
    transition: all 0.3s;
  }
  .box3:hover .shadow {
    opacity: 0;
  }
  .tech .box3 .box-txt {
    text-align: center;
    color: #fff;
    padding: 110px 0;
    z-index: 100;
  }
  .box3 .box-txt h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
  }
  .box3 .box-txt .box-inner {
    display: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
  }
  /* .box3:hover .box-inner{display: block;} */

  /* box4 */
  .tech .box4 {
    flex: 1;
    height: 980px;
    background: url(/img/tech4-1.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech .box4 .shadow {
    /* display: none; */
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 270px;
    position: absolute;
    transition: all 0.3s;
  }
  .box4:hover .shadow {
    opacity: 0;
  }
  .tech .box4 .box-txt {
    text-align: center;
    color: #fff;
    padding: 110px 0;
    z-index: 100;
  }
  .box4 .box-txt h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
  }
  .box4 .box-txt .box-inner {
    display: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
  }
  /* .box4:hover .box-inner{display: block;} */
  /* TECH - E */

  /* NEWS - S */
  .news {
    padding: 214px 20px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .news .tit {
    font-weight: 700;
    font-size: 40px;
    line-height: 86px;
  }
  .news .news-box {
    padding-top: 90px;
  }
  .news .news-box .box-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .news .news-box .box-list li {
    padding: 30px 0;
  }

  .news .box1 {
    flex: 1;
  }
  .news .box1 .box-inner {}
  .news .box1 .box-inner img {
    width: 100%;
    height: 300px;
  }
  .news .box1 .box-inner h3 {
    padding: 30px 0;
    font-weight: 600;
    font-size: 18px;
  }
  .news .box1 .box-inner span {
    font-size: 16px;

  }

  .news .box2 {
    flex: 1;
  }
  .news .box2 .box-inner {}
  .news .box2 .box-inner img {
    width: 100%;
    height: 300px;
  }
  .news .box2 .box-inner h3 {
    padding: 30px 0;
    font-weight: 600;
    font-size: 18px;
  }
  .news .box2 .box-inner span {
    font-size: 16px;
    padding-bottom: 30px;
  }

  .news .box3 {
    flex: 1;
  }
  .news .box3 .box-inner {}
  .news .box3 .box-inner img {
    width: 100%;
    height: 300px;
  }
  .news .box3 .box-inner h3 {
    padding: 30px 0;
    font-weight: 600;
    font-size: 18px;
  }
  .news .box3 .box-inner span {
    font-size: 16px;
    padding-bottom: 30px;
  }
  /* NEWS - E */

  /* GLOBAL - S */

  .global {
    padding-top: 330px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .global .global-txt {
    text-align: center;
  }
  .global .global-txt .tit {
    font-weight: 700;
    font-size: 30px;
    line-height: 5px;
  }
  .global .global-txt .num {
    padding-top: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
  }
  .global .global-txt .num li {
    padding: 0 15px;
  }
  .global .global-txt .add {
    font-size: 16px;
    line-height: 28px;
  }
  .global .global-img {
    width: 100%;
    margin-top: 60px;
  }
  /* GLOBAL - E */

  /* ESG - S */
  .esg {

    padding: 110px 20px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .esg .tit {
    font-weight: 700;
    font-size: 30px;
    line-height: 86px;
  }
  .esg .esg-box {
    padding-top: 90px;
  }
  .esg .esg-box .esg-box1 {
    display: flex;
    flex-flow: column;
    padding: 20px 20px;
  }
  .esg-box .esg-box1 .box1 {
    flex: 1;
    display: flex;
    flex-flow: column;
  }
  .esg-box .esg-box1 .box1 img {
    width: 345px;
    height: 248px;
  }
  .esg-box .esg-box1 .box1 header {
    display: flex;
    flex-flow: column;
    padding: 40px 0;
  }
  .esg-box .esg-box1 .box1 h3 {
    font-weight: 600;
    font-size: 22px;
  }
  .esg-box .esg-box1 .box1 p {
    padding-top: 30px;
    line-height: 20px;
  }

  .esg-box .esg-box1 .box2 {
    flex: 1;
    display: flex;
    flex-flow: column;
    padding-left: 0px;
  }
  .esg-box .esg-box1 .box2 img {
    width: 345px;
    height: 248px;
  }
  .esg-box .esg-box1 .box2 header {
    display: flex;
    flex-flow: column;
    padding: 40px 0;
  }
  .esg-box .esg-box1 .box2 h3 {
    font-weight: 600;
    font-size: 22px;
  }
  .esg-box .esg-box1 .box2 p {
    padding-top: 30px;
    line-height: 20px;
  }

  .esg .esg-box .esg-box2 {
    display: flex;
    flex-flow: column;
    padding: 20px 20px;
  }
  .esg-box .esg-box2 .box3 {
    flex: 1;
    display: flex;
    flex-flow: column;

  }
  .esg-box .esg-box2 .box3 img {
    width: 345px;
    height: 248px;
  }
  .esg-box .esg-box2 .box3 header {
    display: flex;
    flex-flow: column;
    padding: 40px 0;
  }
  .esg-box .esg-box2 .box3 h3 {
    font-weight: 600;
    font-size: 22px;
  }
  .esg-box .esg-box2 .box3 p {
    padding-top: 30px;
    line-height: 20px;
  }

  .esg-box .esg-box2 .box4 {
    flex: 1;
    display: flex;
    flex-flow: column;
    padding-left: 0px;
  }
  .esg-box .esg-box2 .box4 img {
    width: 345px;
    height: 248px;
  }
  .esg-box .esg-box2 .box4 header {
    display: flex;
    flex-flow: column;
    padding: 40px 0;
  }
  .esg-box .esg-box2 .box4 h3 {
    font-weight: 600;
    font-size: 22px;
  }
  .esg-box .esg-box2 .box4 p {
    padding-top: 30px;
    line-height: 20px;
  }
  /* ESG - E */
}